# Project Settings
PORT=3000

# API
API_PORT=8080
API_PREFIX=/api
API_VERSION=1

# TypeORM Settings
TYPEORM_CONNECTION=postgres
TYPEORM_HOST=localhost
TYPEORM_USERNAME=postgres
TYPEORM_PASSWORD=hello1234
TYPEORM_DATABASE=permission-boilerplate
TYPEORM_PORT=5432
TYPEORM_ENTITIES=src/modules/**/*entity.ts
TYPEORM_ENTITIES_DIR=src/database/entities
TYPEORM_MIGRATIONS=src/database/migrations/**/*.ts
TYPEORM_MIGRATIONS_DIR=src/database/migrations
TYPEORM_SEEDING_FACTORIES=src/database/factories/**/*.ts
TYPEORM_SEEDING_SEEDS=src/database/seeds/**/*.ts
TYPEORM_SYNCHRONIZE=false
TYPEORM_LOGGING=false
TYPEORM_AUTOLOAD=true


#  ============= SMTP Settings =============
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=m.waqas.fam.mis@gmail.com
SMTP_PASSWORD=trbkvswegwobzpqp

#  ============= Twilio Settings =============
TWILIO_ACCOUNT_SID=ACdfa1c095e7ba53566805f107bb75bbce
TWILIO_AUTH_TOKEN=9387e3a050f924ca3e478f02a1185b2c
TWILIO_PHONE_NUMBER=+12184299804

# Token
TOKEN_SECRET=m470k3n
TOKEN_TYPE=Bearer
ACCESS_TOKEN_EXPIRES_IN=1h
REFRESH_TOKEN_EXPIRES_IN=2h